@model IEnumerable<MedicalCenterRegistration.Models.DoctorSpecialization>

@{
    ViewData["Title"] = "Index";
}

<h1>Przypisz specjalizację dla lekarza</h1>

<p>
    <a asp-action="Create">Przypisz nową specjalizację</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Specjalizacja
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
