@model IEnumerable<MedicalCenterRegistration.Models.Visit>

@{
    ViewData["Title"] = "Index";
}

<h1>Moje wizyty</h1>

<table class="table">
    <thead>
        <tr>
            <th>Data wizyty</th>
            <th>Typ wizyty</th>
            <th>Imię pacjenta</th>
            <th>Nazwisko pacjenta</th>
            <th>Imię lekarza</th>
            <th>Nazwisko lekarza</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitSchedule.VisitDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.LastName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        
                    </td>
                </tr>
            }   
</table>
