@model IEnumerable<MedicalCenterRegistration.Models.ViewModels.DoctorCardViewModel>

@{
    ViewData["Title"] = "Nasi lekarze";
    var imageHeight = 200;
    var descriptionMaxHeight = 100;
    var cardBodyHeight = 260;
}


<h2 class="mb-4">Lekarze pracujący w naszej placówce</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
    @foreach (var doc in Model)
    {
        <div class="col">
            <div class="shadow-sm border-3 border rounded-3 border-primary">
                <div style="max-height: @($"{imageHeight}px"); height: @($"{imageHeight}px")" class="bg-white border-bottom border-1 ">
                    <img style="height: 100%; object-fit: scale-down" src="/public-images/@doc.Image"
                         class="card-img-top" alt="Zdjęcie lekarza">
                </div>


                <div style="height: @($"{cardBodyHeight}px");"
                     class="card-body px-4 py-2 text-black d-flex flex-column justify-content-between bg-primary bg-opacity-10">
                    <div>
                        <h5 class="card-title mb-1">@doc.FullName</h5>
                        <p class="text-muted mb-2">@doc.Specializations</p>
                        <p style="max-height: @($"{descriptionMaxHeight}px"); overflow-y: auto;">@doc.Description</p>
                    </div>


                    <div>
                        <div class="mb-1">
                            <div class="me-1 d-inline-block ">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= Math.Round(doc.AverageRating))
                                    {
                                        <i class="bi bi-star-fill text-warning"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-star text-secondary"></i>
                                    }
                                }
                                <span class="ms-1">(@doc.RatingsCount)</span>
                            </div>

                            <div class="d-inline-block">
                                @if (User.IsInRole("Patient"))
                                    if (doc.CanRate)
                                    {

                                        if (doc.UserHasRated)
                                        {
                                            <a asp-controller="DoctorRatings"
                                               asp-action="Edit"
                                               asp-route-id="@doc.UserRatingId"
                                               class="btn btn-warning btn-xs">
                                                Edytuj ocenę
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-controller="DoctorRatings"
                                               asp-action="Create"
                                               asp-route-doctorId="@doc.DoctorId"
                                               class="btn btn-primary btn-xs">
                                                Oceń lekarza
                                            </a>

                                        }
                                    }
                            </div>
                        </div>
                        <span class="d-block text-muted small w-100">
                            @(doc.CanRate ? "Możesz ocenić lekarza po zakończeniu wizyty." : Html.Raw("&nbsp;"))
                        </span>

                    </div>
                </div>
            </div>
        </div>
    }
</div>


